@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@plugin "daisyui" {
  themes: dracula --default, dracula --prefersdark;
  /* themes: fantasy --default, fantasy --prefersdark; */
}


/* @plugin "daisyui/theme" {
  name: "valentine";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(94% 0.029 294.588);
  --color-base-200: oklch(89% 0.057 293.283);
  --color-base-300: oklch(81% 0.111 293.571);
  --color-base-content: oklch(49% 0.27 292.581);
  --color-primary: oklch(37% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(87% 0.169 91.605);
  --color-accent-content: oklch(39% 0.09 240.876);
  --color-neutral: oklch(38% 0.176 304.987);
  --color-neutral-content: oklch(90% 0.076 319.62);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(84% 0.143 164.978);
  --color-success-content: oklch(43% 0.095 166.913);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
} */